.page {
    column-gap: 1.2rem;
    margin-top: 1.4rem;
}

.page-item {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page-link {
    color: #505d69;
}

.active {
    background-color: #4caf50;
    color: white !important;
    border-radius: 5px;
}
